@page "/admin/hobbies/all"
@attribute [Authorize]
@inject NavigationManager NavManager
@layout AdminLayout
@using System.Net.Http.Json

@inject HttpClient HttpClient

<!-- https://mudblazor.com/components/table#table-with-pagination-and-filtering -->

<div style="width:80%;margin:auto;margin-top:50px;">
    <MudTable Items="@Elements" Dense="false" Bordered="true" Striped="true" Filter="(Element => FilterFunc(Element))" @bind-SelectedItem="selectedItem1" OnRowClick="@OpenHobby" T="DTOAdminHobbyViewBasic">
        <ToolBarContent>
            <MudText Typo="Typo.h6">Hobbies</MudText>
            <MudSpacer />
            <MudTextField @bind-Value="searchString1" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
        </ToolBarContent>
        <HeaderContent>
            <MudTh>Name</MudTh>
            <MudTh>Description</MudTh>
            <MudTh>ID</MudTh>
            <MudTh>Total personality tags</MudTh>
            <MudTh>Total users</MudTh>
            <MudTh>Total havens</MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="Name">@context.Name</MudTd>
            <MudTd DataLabel="Description">@(context.Description.Length < 30 ? context.Description : context.Description.Substring(0, 30)+"...")</MudTd>
            <MudTd DataLabel="Id">@context.Id</MudTd>
            <MudTd DataLabel="Total personality tags">@context.TotalPersonalityTags</MudTd>
            <MudTd DataLabel="Total Havens">@context.TotalUsers</MudTd>
            <MudTd DataLabel="Total Users">@context.TotalHavens</MudTd>
        </RowTemplate>
        <PagerContent>
            <MudTablePager />
        </PagerContent>
    </MudTable>
</div>

@code {
    private string searchString1 = "";
    private DTOAdminHobbyViewBasic selectedItem1 = null;
    private HashSet<DTOAdminHobbyViewBasic> selectedItems = new HashSet<DTOAdminHobbyViewBasic>();




    private IEnumerable<DTOAdminHobbyViewBasic> Elements = new List<DTOAdminHobbyViewBasic>();
    
	protected override async Task OnInitializedAsync()
	{
        HttpResponseMessage response = await HttpClient.GetAsync($"https://localhost:44357/api/administration/hobbies/all");
        Elements = await response.Content.ReadFromJsonAsync<List<DTOAdminHobbyViewBasic>>();
	}

    private bool FilterFunc(DTOAdminHobbyViewBasic element)
    {
        if (string.IsNullOrWhiteSpace(searchString1)) return true;
        if (element.Id.ToString().Contains(searchString1, StringComparison.OrdinalIgnoreCase)) return true;
        if (element.Name.Contains(searchString1, StringComparison.OrdinalIgnoreCase)) return true;
        if (element.Description.Contains(searchString1, StringComparison.OrdinalIgnoreCase)) return true;
        return false;
    }

    public void OpenHobby(TableRowClickEventArgs<DTOAdminHobbyViewBasic> ev)
    {
        NavManager.NavigateTo($"/admin/hobbies/view?ID={ev.Item.Id}");
    }

}