@page "/admin/users/create"
@inject NavigationManager NavManager
@inject HttpClient httpClient
@inject IHttpClientFactory ClientFactory
@layout AdminLayout
@using System.Net.Http.Json

<PageTitle>Create a personality tag</PageTitle>

<div style="width:30%;margin:auto;margin-top:50px;">
	<h1>Personality tag</h1>
	<MudCard>
		<MudForm Model="@user">
			<MudCardContent>
				<MudTextField @bind-Value="user.Email"
							  For="@(() => user.Email)"
							  Immediate="true"
							  Label="Email" />

				<MudTextField @bind-Value="user.Username"
							  For="@(() => user.Username)"
							  Immediate="true"
							  Label="Username" />

				<MudTextField @bind-Value="user.Password"
							  For="@(() => user.Password)"
							  Immediate="true"
							  Label="Password" />

				<MudCheckBox @bind-Checked="user.Admin"
						     For="@(() => user.Admin)"
							 Label="Administrator" />

			</MudCardContent>
		</MudForm>
		<MudCardActions>
			<MudButton Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto" OnClick="@(async () => await Submit())">Create</MudButton>
		</MudCardActions>
	</MudCard>
</div>


@code {
	DTOAdminCreateUser user = new();

	private async Task Submit()
	{

		HttpClient client = ClientFactory.CreateClient();
		client.DefaultRequestHeaders.Add("Authorization", "JBt3hWPqIS087P395dYyYP3CctJx0Gz24yqC55Ux8FsMy91Ydy04Bw0Pq8KZAFaOK1kvf13yQPbfTiZRfhmucobst6");
		HttpResponseMessage response = await client.PostAsJsonAsync<DTOAdminCreateUser>($"https://localhost:44357/api/administration/users/create", user);
		DTOUser rsp = await response.Content.ReadFromJsonAsync<DTOUser>();

		NavManager.NavigateTo($"/admin/users/view/?ID={rsp.UserID}");
	}

}