@page "/admin/users/all"
@layout AdminLayout

@inject NavigationManager NavigationManager
@inject HttpClient HttpClient

@inject IAccessTokenProvider AccessTokenProvider
@inject AuthenticationStateProvider AuthenticationStateProvider
@using Microsoft.AspNetCore.WebUtilities
@using Newtonsoft.Json
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using Microsoft.AspNetCore.Components.Authorization


<!-- https://mudblazor.com/components/table#table-with-pagination-and-filtering -->

<div style="width:80%;margin:auto;margin-top:50px;">
    <MudTable Items="@Elements" Dense="false" Bordered="true" Striped="true" Filter="(Element => FilterFunc(Element))" @bind-SelectedItem="selectedItem1" OnRowClick="@OpenUser" T="DTOAdminUserView">
        <ToolBarContent>
            <MudText Typo="Typo.h6">Registered users</MudText>
            <MudSpacer />
            <MudTextField @bind-Value="searchString1" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
        </ToolBarContent>
        <HeaderContent>
            <MudTh>Identifier</MudTh>
            <MudTh>Admin</MudTh>
            <MudTh>Hobbies</MudTh>
            <MudTh>Havens</MudTh>
            <MudTh>Personality tags</MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="Id">@context.Id</MudTd>
            <MudTd DataLabel="Admin">@context.Admin</MudTd>
            <MudTd DataLabel="Total hobbies">@context.Hobbies.Count</MudTd>
            <MudTd DataLabel="Total havens">@context.Havens.Count</MudTd>
            <MudTd DataLabel="Total personality tags">@context.PersonalityTags.Count</MudTd>
        </RowTemplate>
        <PagerContent>
            <MudTablePager />
        </PagerContent>
    </MudTable>
</div>


@code {
    public string? token = null;

    private string searchString1 = "";
    private DTOAdminUserView? selectedItem1 = null;
    private HashSet<DTOAdminUserView> selectedItems = new HashSet<DTOAdminUserView>();


    private IEnumerable<DTOAdminUserView> Elements = new List<DTOAdminUserView>();

    protected override async Task OnInitializedAsync()
    {
        if ((await AccessTokenProvider.RequestAccessToken()).TryGetToken(out var _token)) token = _token.Value;
        HttpClient.DefaultRequestHeaders.Authorization = new System.Net.Http.Headers.AuthenticationHeaderValue("Bearer", token);

        HttpResponseMessage response = await HttpClient.GetAsync($"https://localhost:44357/api/administration/users/all");

        Elements = await response.Content.ReadFromJsonAsync<List<DTOAdminUserView>>();
    }

    private bool FilterFunc(DTOAdminUserView element)
    {
        if (string.IsNullOrWhiteSpace(searchString1)) return true;
        if (element.Id.ToString().Contains(searchString1, StringComparison.OrdinalIgnoreCase)) return true;
        return false;
    }

    public void OpenUser(TableRowClickEventArgs<DTOAdminUserView> ev)
    {
        NavigationManager.NavigateTo($"/admin/users/view?ID={ev.Item.Id}");
    }

}